.circles{
	display:none;
}
.bg{ 
	 background:transparent;
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
     zoom: 1;
}
a.tooltip span{
	display:none;
}
