.fixed{
	float:left;
	position:relative;
	width:100%;
	z-index:0;
}
/* ------------------------------------------------------------------------------------
--  HEADER: LOGO
------------------------------------------------------------------------------------ */
#logo{
	float:left;
	height:80px;
	width:100%;
}
#logo h1{
    float:left;
	color:#bab9b1;
	font-size:1.2em;
	line-height:80px;
	margin-left:2%;
}
/* ------------------------------------------------------------------------------------
--  HEADER:NAVIGATION 
------------------------------------------------------------------------------------ */
nav{
    float:left;
    width:100%;
	margin-left:0;
}
.left h1{
	font-size:3.8em;
}
.left h2{
	font-size:1.8em;
}
.info{
	display:none;
}


#about article p:last-child{
	margin-bottom:30px;
}
/* ------------------------------------------------------------------------------------
--  PANEL 
------------------------------------------------------------------------------------ */
#panel{
	float:left;
	background:#070a08;
	width:90%;
	margin:0 5%;
	display:none;
	border-radius:0 0 20px 20px;
	box-shadow:0 2px 100px #000;
}
/* ------------------------------------------------------------------------------------
--  PROGRAM 
------------------------------------------------------------------------------------ */
#program li{
	float:left;
	width:100%;
	margin:0 0 10% 0;
}
#program li:last-child{
	margin:0 0 0 0;
	width:100%;
}
/* ------------------------------------------------------------------------------------
--  BLOCK4 PROGRAM: LAST BLOCK WITH VIDEO
------------------------------------------------------------------------------------ */
#trailer{
	float:left;
	width:100%;
	margin:0 0 30px 0;
	position:relative;
}
#trailer-box article{
	float:right;
	width:100%;
}
/* ------------------------------------------------------------------------------------
--  ORDER
------------------------------------------------------------------------------------ */
.left-order{
	float:left;
	width:100%;
	margin:0 0 10% 0;
}
.right-order{
	float:left;
	width:100%;
	margin-top:0;
}
/* ------------------------------------------------------------------------------------
--  COME
------------------------------------------------------------------------------------ */
#gallery{
	display:none;
} 
#come article{
	float:left;
	width:100%;
	margin:0 0 10% 0;
}
/* ------------------------------------------------------------------------------------
--  CONTACT
------------------------------------------------------------------------------------ */
#left-contact{
	float:left;
	width:100%;
	margin:0 0 10% 0;
} 
#right-contact{
	float:left;
	width:100%;
	margin:0;
}